{% extends 'base.html.twig' %}

{% block title %}Mom compte - La boutique
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	Bienvenue
	{{app.user.firstname}}
	dans votre compte.<br/>
	Ici, vous pouvez gérer vos informations.
	<hr>

	<a href="{{ path('app_account_password') }}">
		Modifier mon mot de passe</a><br/>


{% endblock %}
